body {
  font-family: Raleway;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #ff826c;
}

.w-100 {
  width: 100%;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}

.button {
  background: tomato;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  color: white;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 8px;
}

.project-title {
  font-size: 20px;
  display: block;
}

.project-image {
  border: 4px solid #ff826c;
}

.footer {
  margin: 67px 0 100px 0;
  text-align: center;
}

.credits {
  font-size: 12px;
  opacity: 0.5;
  text-align: center;
}
